<h1>{{title}}</h1>
<div class="row">
  <div class="col">
    <nav class="nav">
      <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
      <a class="nav-link" routerLink="/additems">Add Items</a>
      <a class="nav-link" routerLink="/listitems">List Items</a>    
    </nav>
  </div>
  <div class="col-md-2">
    <nav class="nav .justify-content-end:">
      <a class="nav-link " href="#" tabindex="-1" >Logout</a>    
    </nav>
  </div>
</div>
<div class="container">
  <div class="row">
      <div class="col">
        <router-outlet></router-outlet>
      </div>
      <div class="col-md-4">            
          <app-company-details></app-company-details>
      </div>        
  </div>
</div>
